// module greed

.container {
  width: $breakpoint-mobile-portrait;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    width: $breakpoint-mobile-landscape;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    width: $breakpoint-tablet;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    width: $breakpoint-desktop;
  }

  @media screen and (min-width: $breakpoint-desktop-large) {
    width: $breakpoint-desktop-large;
  }
}

%clear {
  &:after {
    display: block;
    clear: both;

    content: '';
  }
}

.row {
  @extend %clear;
}

%col {
  position: relative;

  float: left;

  margin: 0 $greed-gutter;
}

@for $i from 1 through $greed-columns {
  .col-#{$i} {
    width: $i * $breakpoint-mobile-portrait / $greed-columns - $greed-gutter * 2;

    @extend %col;

    @media screen and (min-width: $breakpoint-mobile-landscape) {
      width: $i * $breakpoint-mobile-landscape / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-tablet) {
      width: $i * $breakpoint-tablet / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      width: $i * $breakpoint-desktop / $greed-columns - $greed-gutter * 2;
    }

    @media screen and (min-width: $breakpoint-desktop-large) {
      width: $i * $breakpoint-desktop-large / $greed-columns - $greed-gutter * 2;
    }
  }
}
