$breakpoint-desktop-large: 1170px;
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-mobile-portrait: 320px;

$greed-columns: 12;
$greed-gutter: 15px;

$main-text: 'Lato', sans-serif;
$text-spacing: .025em;
$text-title-size: 41px;
$text-title-color: #2d3950;
$text-subtitle-size: 15px;
$text-subtitle-color: #909090;

$bg-color: #f6f9f9;
$hover-portfolio-item: #15a4fa;
